<form [formGroup]="kindFormGrup">
    <div class="mb-3">
        <label for="InputName" class="form-label">Name</label>
        <input type="text" formControlName="kindName" class="form-control" id="InputName">
        @if (kindFormGrup.get('kindName')?.errors?.['required'])
        {
        <span class="text-danger">Name is required</span>

        }
        @if (kindFormGrup.get('kindName')?.errors?.['minlength'])
        {
        <span class="text-danger">minimon length is 5 chars</span>
        }
    </div>
    <div class="mb-3">
        <label for="InputNumber" class="form-label">CategoryId</label>
        <input type="number" formControlName="categoryId" class="form-control" id="inputNumber">
        @if (kindFormGrup.get('categoryId')?.errors?.['required'])
        {
        <span class="text-danger">Id is required</span>

        }

    </div>
    <div class="mb-3">
        <label for="InputNum" class="form-label">sectorId</label>
        <input type="number" formControlName="sectorId" class="form-control" id="inputNum">
        @if (kindFormGrup.get('sectorId')?.errors?.['required'])
        {
        <span class="text-danger">Id is required</span>

        }

    </div> 
    <button (click)="addKind()" class="btn btn-primary" [disabled]="kindFormGrup.invalid">Add</button>
</form>